body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
  }
 .send-button{
  background-color: blue;
  color: white;
  padding:15px 20px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
 }
 .chat-placeholder{
  padding: 12px 15px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
  
 }
 .chat-container{
  display: flex;
  margin-bottom: 60px;
  
 }
 .app-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;

 }
 .chat-user{
  display: flex;
  justify-content: end;
  align-items: start;
 }
 .chat-robot{
  display: flex;
  justify-content: start;
  align-items: start;
 }
 
 .chat-message-text{
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin: 10px;
  max-width: 300px;
 }
 .chat-msg-container{
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
 }


